CalcXamForms/CalcXamForms.Droid/obj/Debug/_dex_stamp
CalcXamForms/CalcXamForms.Droid/obj/Debug/_javac.stamp
CalcXamForms/CalcXamForms.Droid/obj/
CalcXamForms/CalcXamForms.Windows/obj/
CalcXamForms/CalcXamForms.UWP/obj/
CalcXamForms/CalcXamForms.WinPhone/obj/
CalcXamForms/CalcXamForms.Windows/bin/
CalcXamForms/CalcXamForms.WinPhone/bin/
CalcXamForms/CalcXamForms/obj/
CalcXamForms/CalcXamForms/bin/
CalcXamForms/CalcXamForms.Droid/bin/
CalcXamForms/CodeProject.Syntax.LALR/bin/
CalcXamForms/CodeProject.Syntax.LALR/obj/
CalcXamForms/CalcXamForms.iOS/obj/
.vs/CalcXamForms/v14/.suo
*.pdb
*.mdb
*.dll
packages/
*.class
ClassLibrary1/obj/
CalcXamForms/CalcXamForms.iOS/bin/
